.make-life-easy {
    background: url("../images/owl.png") no-repeat center right/contain $brand-midnight;
    // background-size:20px 30px;
    // padding: 2rem;
    color: #fff;
    // display: none;

    @media screen and (max-width: 767px) {
        padding: 2rem 1rem;
        background: none;
    }

    &__overlay:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        // opacity: 0.4;
        // background: linear-gradient(315deg, rgb(24, 55, 144) 33%, rgb(24, 55, 144) 0%, rgb(244, 113, 23) 100%);
        content: '';
        z-index: 1;
        @media screen and (max-width: 767px) {
            background: rgba(0, 0, 0, 0.8);
        }
        
    }

    .heading-shadow {
        text-shadow: 2px 3px 5px #000000;
        @media screen and (max-width: 767px) {
            text-shadow: none;
        }
    }

    
    .h2 {
        @media screen and (max-width: 768px) {
            margin-top: 10px;
            
        }
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
        max-width: 850px;
        margin: 20px 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        li {
            padding: 20px;
            border: 1px solid;
            padding: 20px;
            border-radius: 10px;
            background: linear-gradient($brand-midnight, $brand-midnight) padding-box,
                linear-gradient(to right, $accent-gold, $brand-violet) border-box;
                border: 0.6px solid transparent;
            flex: 1;

            @media screen and (max-width: 768px) {
                width: 100%;
                
            }

            p:first-child {
                font-size: 15px;
                font-weight: 600;
                font-style: italic;
                padding-bottom: 10px;
                text-transform: uppercase;
            }

            p:last-child {
                font-size: 15px;
            }
        }
    }
}
