.tieups {
    background: #f2f6ff;
    padding: 2rem 1rem;
  }
  .tieups ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .tieups ul img {
    max-width: 100px;
  }